body{
    background-color: var(--blue);
}

main{
    position: relative;
    margin: 70px auto 0;
    width: 80%;
    height: 70vh;
}

label{
    color: white;
}

div.password{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: white 2px solid;
    margin-bottom: 20px;
}

input.pass{
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 1.6rem;
    color: white;
    width: 80%;
    border: 0;
    margin-bottom: 0;
}

.view{
    padding-bottom: 5px;
}

button.btn-recovery-pass{
    margin-top: 90px;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    height: 50px;
    border-radius: 10px;
    background-color: var(--pink);
}

.decoration{
    position: absolute;
    right: 0;
    bottom: 2px;
}

@media(min-width: 800px) {  
    main{
        width: 500px;
    }

    label, input.create, button.btn-recovery-pass{
        font-size: 2.8rem;
    }

    button.btn-recovery-pass{
        font-weight: 600;
        height: 70px;
    }

}